main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.landingbackground {
  background-color: #000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
}

.title {
  height: 200px;
  width:400px;
  background-color: #fff;
  border-radius: 3px;
}

.header {
  height: 50px;
  background: blue;
  width: 100%;
  
}

html, body, #root {
  height: 100%;
  color: white;
}